In [1]:
import pandas as pd
import numpy as np

In [2]:
#Name of the cities in India
cities = [
    'Delhi', 'Mumbai', 'Kolkata', 'Chennai', 'Bangalore', 'Hyderabad', 'Ahmedabad',
    'Pune', 'Surat', 'Jaipur', 'LucknowUntitled document', 'Kanpur', 'Nagpur', 'Visakhapatnam',
    'Bhopal', 'Patna', 'Ludhiana', 'Agra', 'Nashik', 'Vadodara', 'Varanasi',
    'Srinagar', 'Aurangabad', 'Dhanbad', 'Amritsar', 'Navi Mumbai', 'Allahabad',
    'Howrah', 'Ranchi', 'Gwalior', 'Jabalpur', 'Coimbatore', 'Vijayawada', 
    'Jodhpur', 'Madurai', 'Raipur', 'Kota', 'Guwahati', 'Chandigarh', 'Solapur'
]

In [3]:
# Number of data points per city
num_data_points = 100# Generate synthetic data
data = {
    'City': np.random.choice(cities, num_data_points * len(cities)),
    'Date': pd.date_range(start='1/1/2013', periods=num_data_points * len(cities), freq='D'),
    'PM2.5': np.random.uniform(10, 300, num_data_points * len(cities)),
    'PM10': np.random.uniform(20, 400, num_data_points * len(cities)),
    'NO2': np.random.uniform(10, 150, num_data_points * len(cities)),
    'SO2': np.random.uniform(5, 100, num_data_points * len(cities)),
    'CO': np.random.uniform(0.1, 10, num_data_points * len(cities)),
    'O3': np.random.uniform(10, 100, num_data_points * len(cities)),
    'Temperature': np.random.uniform(10, 45, num_data_points * len(cities)),
    'Humidity': np.random.uniform(20, 100, num_data_points * len(cities))
}

In [4]:
# Create DataFrame
df = pd.DataFrame(data)

In [5]:
df

,City,Date,PM2.5,PM10,NO2,SO2,CO,O3,Temperature,Humidity
0,Kanpur,2013-01-01,223.736714,56.198564,91.870193,44.802600,8.944021,30.859779,12.592743,69.829042
1,Jabalpur,2013-01-02,26.792896,355.073540,35.950025,49.842039,3.408396,63.209700,13.802710,63.998831
2,Aurangabad,2013-01-03,80.354537,92.487347,132.648112,75.059841,0.482693,72.586281,22.966881,94.227929
3,Lucknow,2013-01-04,291.980660,162.003505,105.731112,96.067658,6.744495,20.701774,40.868177,46.062357
4,Allahabad,2013-01-05,244.800160,255.781692,149.165313,58.054594,4.514611,30.971875,17.003699,22.287949
...,...,...,...,...,...,...,...,...,...,...
3995,Hyderabad,2023-12-10,212.231279,351.732812,73.982569,37.445866,3.478032,18.160074,44.255908,98.690154
3996,Solapur,2023-12-11,154.320624,263.609112,89.818469,36.134599,9.051576,99.739652,31.194429,25.982789
3997,Delhi,2023-12-12,227.459554,173.757112,15.353881,96.631843,1.632014,49.154739,24.186126,34.879966
3998,Jodhpur,2023-12-13,20.190448,385.218193,136.612598,34.977748,1.296810,23.775105,25.773322,63.981086
3999,Kolkata,2023-12-14,298.979746,281.593455,71.598714,67.507621,4.808024,84.302601,15.542183,72.520844

In [6]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3995    False
3996    False
3997    False
3998    False
3999    False
Length: 4000, dtype: bool

In [7]:
df.to_csv('Enviromental Conditions.csv', index=False)

In [8]:
df.head(10)

,City,Date,PM2.5,PM10,NO2,SO2,CO,O3,Temperature,Humidity
0,Kanpur,2013-01-01,223.736714,56.198564,91.870193,44.802600,8.944021,30.859779,12.592743,69.829042
1,Jabalpur,2013-01-02,26.792896,355.073540,35.950025,49.842039,3.408396,63.209700,13.802710,63.998831
2,Aurangabad,2013-01-03,80.354537,92.487347,132.648112,75.059841,0.482693,72.586281,22.966881,94.227929
3,Lucknow,2013-01-04,291.980660,162.003505,105.731112,96.067658,6.744495,20.701774,40.868177,46.062357
4,Allahabad,2013-01-05,244.800160,255.781692,149.165313,58.054594,4.514611,30.971875,17.003699,22.287949
5,Amritsar,2013-01-06,59.932682,389.950089,148.625204,38.213474,4.462466,90.582363,26.882841,67.685896
6,Lucknow,2013-01-07,110.488190,248.133120,42.741208,72.236447,3.726528,51.182141,21.990994,62.762738
7,Ranchi,2013-01-08,230.653731,160.583769,93.116165,9.796061,0.720708,94.345372,24.551209,53.955583
8,Nashik,2013-01-09,204.034532,24.137267,62.066611,85.738592,0.424015,95.947380,43.149275,53.617535
9,Amritsar,2013-01-10,285.493862,60.389270,59.646456,28.835753,4.412535,63.188636,36.476391,82.634622

In [1]:
rolling_mean = df['PM2.5'].rolling(window=7).mean()

NameError: name 'df' is not defined